<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/create_book.css}">
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<main>
    <form action="#" th:action="@{/books/create}" th:object="${book}" method="post">
        <h1>Add a new book!</h1>
        <input type="text" placeholder="Input book title" th:field="*{title}">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
        <br>
        <input type="text" placeholder="Input book isbn" th:field="*{isbn}">
        <div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="error"></div>
        <br>
        <input type="number" placeholder="Input book copies" th:field="*{copies}">
        <div th:if="${#fields.hasErrors('copies')}" th:errors="*{copies}" class="error"></div>
        <br>
        <select id="author" name="authorId" th:field="*{authorId}" required>
            <option value="" disabled selected>Select an author</option>
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.name}">
            </option>
        </select>
        <br>
        <button type="submit">Add book</button>
    </form>
</main>
</body>
</html>