<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/authors.css}">
    <meta charset="UTF-8">
    <title>Book Authors</title>
</head>
<body>
<div th:replace="books/fragments/header :: header"></div>
<main>
<h1>Book Authors</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Author Name</td>
        <td>Manage</td>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td>
            <a th:href="@{/authors/{authorId}/books (authorId=${author.id})}" th:text="${author.name}" class="name">Author
                Name</a>
        </td>
        <td><button class="delete"><a th:href="@{authors/delete/{id} (id=${author.id})}">Delete</a></button></td>
    </tr>
    <br><br>
</table>
<br><br>
<button type="button" class="btn"><a th:href="@{/authors/add}">Add Author</a></button>
</main>
</body>
</html>