
 body {
    height:100vh;
    margin:0 auto;
    background-image:url("/images/author.jpg");
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
 }

 table, tr, td {
    border: 1px solid #CEA80E;
    border-collapse: collapse;
    color: white;
    background-color: rgb(154,89,56);
 }

 th {
    background-color: #6C3311;
    color: white;
    padding: 15px 15px;
 }

 td {
    padding: 15px 15px;
    text-align:center;
    font-size: 16px;
    font-family:fantasy;
 }

 h1 {
    color:white;
    background-color:#924112;
    border: 1px solid black;
    border-radius: 5%;
    padding: 8px 8px;
 }

 button {
    border: 2px solid black;
    border-radius: 10%;
    color: white;
    padding:15px 15px;
    text-align:center;
    font-size:16px;
 }

 .btn {
    background-color: #924112;
 }

 .btn:hover {
    background-color: #6C3311;
 }

 a {
    text-decoration: none;
    color: white;
 }

 .delete {
    background-color:red;
 }

 .delete:hover {
    background-color: #CE0000;
 }

 .edit {
    background-color: #002BFF;
 }

 .edit:hover {
    background-color: #001BA5;
 }

 h2 {
    color:white;
 }

 strong {
    color:cyan;
 }

 span {
    color:white;
 }

 .name:hover {
    color:red;
 }